<div id="content-ask">
  <div id="content-top">
    <a href="/">&#8592; back</a>
    <a href="/connect" id="menu_item">join.</a>
    <a href="/list" id="menu_item_selected">take-a-peek.</a>
  </div>
  <div id="question-list">
		<% @questions.first.question_txt %>
   </div>
</div>
