
<div id="content-ask">
	<div id="content-top">
    <a href="/">< back</a>
    <a href="/my_questions" id="menu_item">my questions.</a>
    <a href="/answer" id="menu_item">answer.</a>
    <a href="/ask" id="menu_item_selected">ask.</a>
  </div>
  <div id="question">
		  <p>Your Question</p>
		  <p><i>"<%= @question.question_txt %>"</i></p> 
		  <p>has been posted</p><br/>
		  <p><a href="/question_posted/share">share with my followers</a></p>
	</div>
</div>
