<div id="content-question">

  <!-- Display the question and icon -->
  <div id="question-view">
    <div id="icon">
      <img src="/images/question.png" width=90 height=90 />
    </div>
    <div id="details">
      <p><%= @question %></p>
    </div>
  </div>
  <div id="separator">
  </div>


  <!-- Display the results of the question -->
  <div id="result">
    <div id="value-minor">
      42
    </div>
    <div id="label-minor">
      NO
    </div>
  </div>
  <div id="result">
    <div id="value-major">
      58
    </div>
    <div id="label-major">
      YES
    </div>
  </div>

</div>
