
<div id="content-ask">
	<div id="content-top">
    <a href="/">< back</a>
    <a href="/myquestions" id="menu_item">my questions.</a>
    <a href="/answer" id="menu_item">answer.</a>
    <a href="/ask" id="menu_item_selected">ask.</a>
  </div>
  <div id="question">
		  <p>Your Question <i>"<%= @question.question_txt %>"</i> has been posted</p>
	</div>
</div>
