@font-face {
	font-family: 'Museo';
	src: url('/fonts/museo.otf');
}

@font-face {
  font-family: 'DroidSans';
  src: url(/fonts/DroidSans.otf);
}

@font-face {
  font-family: 'DroidSansBold';
  src: url(/fonts/DroidSans-Bold.otf);
}


@font-face {
  font-family: 'DroidSerif';
  src: url(/fonts/DroidSerif.otf);
}

@font-face {
  font-family: 'DroidSerifBold';
  src: url(/fonts/DroidSerif-Bold.otf);
}

@font-face {
  font-family: 'DroidSerifItalic';
  src: url(/fonts/DroidSerif-Italic.otf);
}

body {
	width: 750px;
	height: 400px;
	margin: auto;
}

a {
  color:#ccc;
  text-decoration: none;
}



/**********************  

      Index Views 

***********************/ 

#content-index {
  height: 200px;
  width: 750px;

  margin-top: 50px;

  font: 15px/1.5 DroidSerif;
}



#content-index b {
  font: 15px/1.5 DroidSerifBold;
}

#content-index i {
  font: 15px/1.5 DroidSerifItalic;
}

#content-index #content-top {
  width: 750px;
  height: 100px;
}

#content-index #content-left,#content-right {
  width: 220px;
  height: 300px;
  
  color: #ccc;

  line-height: 90%;
  font-family: DroidSerif; 
  font-size: 50px;
}

#content-index #content-left,#content-right a {
  text-decoration: none;
}

#content-index .option {
  height: 70px;
  padding: 10px 0;
}

#content-index #content-left #slot-1 {
  margin-right:-20px;
  -moz-transform: rotate(15deg); 
  -webkit-transform: rotate(15deg); 
}

#content-index #content-left #slot-3 {
  margin-right:-20px;
  -moz-transform: rotate(-15deg); 
  -webkit-transform: rotate(-15deg); 
}
#content-index #content-right {
  float: right;
  text-align: left;
  padding-left: 8px;
}

#content-index #content-left {
  text-align: right;
  position: absolute;
  
}

#content-index #content-center {
  width:  295px;
  height: 300px;
  float:right;
  text-align: center;
  position: relative;

}

#content-index-bottom {
  margin: auto;
  padding-top: 150px;
  text-align: center;
  color: #ccc;
  width:300px;
  font: 15px/1.5 DroidSerif;
}



#content-index-bottom p:hover {
  color: #000;
}

/**********************  

   Ask Question Views 

***********************/ 


#content-ask {
	width: 750px;
	height: 400px;
}

#content-ask #content-top {
  width: 750px;
  height: 100px;

  margin-top: 50px;

  font-size: 35px;
  font-family: DroidSerif;
}

#content-ask #content-top #menu_item,#menu_item_selected {
  padding-right: 10px;
  float: right;
}

#content-ask #content-top #menu_item_selected {
  color: #000;
}

#content-ask #question {
  width: 600px;
  height: 300px;

  margin: 10% auto;


  font-family: DroidSerif;
  font-size: 35px;
}

#content-ask #question i {
  font-family: DroidSerifItalic
}

#content-ask #question .txtbox {
  border: none;
  width: 500px;

  text-align: center;
  
  line-height: 1;
  font: 20px/1.5 DroidSerif;
  outline: none;
  border-bottom: dashed #ccc;
}

#content-ask #question  .action {
  margin: 0;
  padding: 0;
  border: 0;

  color: #ccc;

  background: transparent;
  font: 124% DroidSerif; 
}

#content-ask #question p {
  text-align: center;
  padding: 2px;
} 

/*******************  

   Question Views 

********************/ 
#question-view {
  width: 750px;
  height: 130px;

  margin: auto;
  padding-top: 20px;
}

#question-view  {
	float:center;
}

#question-view #icon {
  width: 80px;
  height: 130px; 

  float: left;
  padding: 0 20px;
  position: static;

  margin: auto;

}

#question-view #details, #details-no_questions {
  width: 500px;
  height: 100px;
  
  font-family: DroidSerif;
  font-size: 20px;
  
  float:left;
  
  margin-left: 120px;

  text-align: center;

  position: absolute;
  
}

#question-view h1{
	font: 30px/1.5 DroidSerifBold;
}

#question-view #details-no_questions {
  font-size: 35px;

}


#separator {
  width: 250px;
  height:25px;
  
  border-bottom: solid #ccc;
  margin: auto;
}


#result {
  width: 375px;
  height: 300px;

  font-family: DroidSerif;
  float: right;  
  text-align: center;
}



#result #value-major,#value-minor {
  width: 375px;
  height: 200px;
  font-size: 120px;
}


#result #value-minor {
  color: #ccc;
}

#result #label-major,#label-minor {
  width: 375px;
  height: 100px;
  
  font-size: 60px;
}


#result #label-minor {
  color: #ccc;
}

#result input {
  font-size: 30px;
}


#result .action {
  margin: 0;
  padding: 0;
  border: 0;

  color: #ccc;

  background: transparent;
  font: 60px DroidSerif; 
}

#result .action:hover {
  color: #000;
}

#result p {
   font-size:20px;
}

#question-list {
  width: 500px;
  height: 600px;
  margin-left: 70px;
}

#question-list #nav {
  font-family: DroidSerif;
  font-size: 25px;
    
  padding-bottom: 20px;
}

#question-list #own-question {
  width: 600px;
  height: 60px;
  padding-bottom: 30px;
  
  font-family: DroidSerif;
  font-size: 20px;
  
  float: left;
}

#question-list #own-question .text {
  width: 500px;
  height: 60px;
  float: left;
}

#question-list #own-question .answer, .answer-list {
  width: 50px;
  height: 60px;
  
  float: right;

  font-family: DroidSerifBold;
  font-size: 25px;
  margin-top: -5px
}

#question-list #own-question .answer-list {
	width: 70px;
	height: 20px;
  	font-size: 15px;
  
}

